body{
  background-color: rgb(247,247,247); /*Very light grey (close to 255) #f7f7f7*/
  color: #393e46;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;

}

h1, h2, h3{
  font-weight: 600;
}

h1 {
  color: #3b0944;
  font-size: 60px;
}

h2 {
  color: #5f1854;
  font-size: 40px;
}

h3 {
  color: #1abb9c;
  font-size: 30px;
}

a {
  color: #5f1854; /* ~mauve*/
  text-decoration: none;
  font-weight: 500;
}
a:hover{
  color:#00adb5; /* ~turquoise */
}

i {
  font-size: 30px;
}

.container {
  text-align: center;
  width: 800px;
  margin: 20px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card-white {
  background: white;
  margin: 40px auto;
  padding: 20px 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.list-align-left {
  text-align: left;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.list-style-none {
  list-style: none;
  padding-left: 0px;
}

.button-mauve {
  background-color: #5f1854;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
}

.button-mauve:hover {
  background-color: #00adb5;
  color: white;
}

.image-size100px {
  width: 100px;
  height: 100px;
}
